/* BASIC STYLES HERE */
/*.firsth{
    border-radius: 50%;
    width: 200px;
    height: 150px;
}
.second{
    border-radius: 50%;
}
.third{
    border-radius: 50%;
}
.fourth{
    border-radius: 50%;
}
.fifth{
    border-radius: 50%;
}
